body {
  font-family: 'Cabin', sans-serif;
  font-weight: 300;
  background: url(Kellogg.jpg)no-repeat;
  background-size: 1390px;
	background-position: center center;
	background-attachment: fixed;
}

#wrapper {
	background-color: white;
	width: 960px;
	margin: 20px auto;
	border: 3px solid purple;
	padding: 20px;
	opacity: 0.7;
}

img{
	border: 1px solid grey;
	border-radius: 9999999px;
	box-shadow: 10px 10px 10px grey;
}

h1 {
	font-size: 60px;
	color: purple;
	font-style: italic;
	text-align: center;
}

p, li{
	line-height: 26px;
}